node_modules
.env
.vscode
dist/config/getsettings.js
dist/config/initialize.js
dist/cookieText_encrypter
dist/fitstar
dist/ipLists
dist/interfaces
dist/middlewares
dist/miscellaneous
dist/status
dist/cookieEncryption
dist/controllers
dist/app.js
appt.ts
bin